<html>
<head>
  <title>Simple Flask NewsApi.org App</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Check sources every hour -->
  <meta http-equiv="refresh" content="3600">

  <!-- Milligram Manenos -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="../static/css/override.css">

</head>

<body>
  <div id="main">
    <h1> You are all caught up with this source! Please check again later! </h1>
  </div>
</body>
</html>
